<h3>Here is title</h3>

<form [formGroup]="rowForm">
  <div *ngFor="let field of rowFields"  class="form-row">
    <!-- 不同格式需要跳過的項目 -->
    <ng-container *ngIf="field.controlName !== 'phone' && field.controlName !== 'message' ">
      <!-- label顯示提示文字 -->
      <label [for]="field.controlName">{{ field.label }}</label><br>
      <!-- controlName顯示輸入內容 -->
      <input 
        pInputText
        id="{{field.controlName}}" 
        [formControlName]="field.controlName"
        aria-describedby="username-help"/><br>
    </ng-container>
  </div>
  <!-- 其他不同的資料型別 -->
  <div *ngFor="let field of rowFields"  class="form-row">
    <ng-container *ngIf="field.controlName == 'phone'">
      <label [for]="field.controlName">{{ field.label }}</label><br>
      <input 
        pInputText
        id="{{field.controlName}}" 
        [formControlName]="field.controlName"
        aria-describedby="username-help"/><br>
    </ng-container>
  </div>
</form>

<!-- 假設電話需要填寫地區 -->
<div class="card flex justify-content-center">
  <form [formGroup]="cityGroup">
    <p-dropdown 
      formControlName="selectedCity"
      [options]="cities"
      optionLabel="name"
      placeholder="Select a City" />
  </form>
</div>