<!-- 使用者帳號管理 -->
<br>
<!-- 編輯表單 -->
<form [formGroup]="editForm">
    <div>
      <label for="Code" class="font-bold block mb-2">{{ rowNameForms.get('Code')?.value }}: </label>  
      <input pInputText id="Code" pKeyFilter="alpha" class="w-full" formControlName="Code" />
    </div>
    <div>
      <label for="Name" class="font-bold block mb-2">{{ rowNameForms.get('Name')?.value }}: </label>
      <input pInputText id="Name" pKeyFilter="alpha" class="w-full" formControlName="Name" />
    </div>
    <div>
      <label for="EngName" class="font-bold block mb-2">{{ rowNameForms.get('EngName')?.value }}: </label>
      <input pInputText id="EngName" pKeyFilter="int" class="w-full" formControlName="EngName" />
    </div>
    <div>
      <label for="Pas" class="font-bold block mb-2">{{ rowNameForms.get('Pas')?.value }}: </label>
      <input pInputText id="Pas" pKeyFilter="alpha" class="w-full" formControlName="Pas" />
    </div>
    <div>
      <label for="Limit" class="font-bold block mb-2">{{ rowNameForms.get('Limit')?.value }}: </label>  
      <input pInputText id="Limit" pKeyFilter="int" class="w-full" formControlName="Limit" />
      <select formControlName="Limit">
        <option value="permanent">永久</option>
        <option value="temporary">暫時</option>
        <option value="unlimited">無限制</option>
      </select>
    </div>
    <div>
      <label for="StartDate" class="font-bold block mb-2">{{ rowNameForms.get('StartDate')?.value }}: </label>
      <input pInputText id="StartDate" pKeyFilter="alpha" class="w-full" formControlName="StartDate" />
    </div>
    <div>
      <label for="EndDate" class="font-bold block mb-2">{{ rowNameForms.get('EndDate')?.value }}: </label>
      <input pInputText id="EndDate" pKeyFilter="int" class="w-full" formControlName="EndDate" />
    </div>
    <div>
      <label for="Lock" class="font-bold block mb-2">{{ rowNameForms.get('Lock')?.value }}: </label>
      <input pInputText id="Lock" pKeyFilter="alpha" class="w-full" formControlName="Lock" />
      <select formControlName="Lock">
        <option value="lock">鎖定</option>
        <option value="nonlock">不鎖定</option>
      </select>
    </div>
    <div>
      <label for="StopAccess" class="font-bold block mb-2">{{ rowNameForms.get('StopAccess')?.value }}: </label>  
      <input pInputText id="StopAccess" pKeyFilter="alpha" class="w-full" formControlName="StopAccess" />
      <select formControlName="StopAccess">
        <option value="yes">是</option>
        <option value="no">否</option>
      </select>
    </div>
    <div>
      <label for="PasEdit" class="font-bold block mb-2">{{ rowNameForms.get('PasEdit')?.value }}: </label>
      <input pInputText id="PasEdit" pKeyFilter="alpha" class="w-full" formControlName="PasEdit" />
      <select formControlName="PasEdit">
        <option value="yes">是</option>
        <option value="no">否</option>
      </select>
    </div>
    <div>
      <label for="Email" class="font-bold block mb-2">{{ rowNameForms.get('Email')?.value }}: </label>
      <input pInputText id="Email" pKeyFilter="int" class="w-full" formControlName="Email" />
    </div>
    <div>
      <label for="UnitNo" class="font-bold block mb-2">{{ rowNameForms.get('UnitNo')?.value }}: </label>
      <input pInputText id="UnitNo" pKeyFilter="alpha" class="w-full" formControlName="UnitNo" />
    </div>
    <div>
      <label for="Role" class="font-bold block mb-2">{{ rowNameForms.get('Role')?.value }}: </label>
      <input pInputText id="Role" pKeyFilter="alpha" class="w-full" formControlName="Role" />
    </div>
  </form>

<!-- 表單修改欄位(必須點擊修改開啟) -->
<div style="display: flex; gap: 10px; justify-content: flex-end; margin-bottom: 10px;">
  <p-button size="small" label="存檔" (onClick)="saveEditRow()" [raised]="true" severity="success" styleClass="horizontal-text-button"></p-button>
  <p-button size="small" label="取消" (onClick)="backtoEditMode()" [raised]="true" severity="success" styleClass="horizontal-text-button"></p-button>
</div>